# APP
APP_NAME="Booking API for MISE"
DEBUG=true

# База данных
DB_USER=booking
DB_PASSWD=booking
DB_NAME=bookings
DB_HOST=localhost
# 5433, чтобы не конфликтовать с локальным PostgreSQL на стандартном 5432
DB_PORT=5433
